<a href="https://colab.research.google.com/github/Abhishek3253/Pyspark/blob/main/RDD_Pracatice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

!apt-get install openjdk-8-jdk-headless -qq > /dev/null


!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz



!tar xf spark-3.2.1-bin-hadoop3.2.tgz

!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

import findspark
findspark.init()

findspark.find()

from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

Mounted at /content/drive

In [ ]:
data = [("James","Smith","USA","CA"),("Michael","Rose","USA","NY"), \
    ("Robert","Williams","USA","CA"),("Maria","Jones","USA","FL") \
  ]

In [19]:
columns=["firstname","lastname","country","state"]
df=spark.createDataFrame(data=data,schema=columns)
df.show()

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|    James|   Smith|    USA|   CA|
|  Michael|    Rose|    USA|   NY|
|   Robert|Williams|    USA|   CA|
|    Maria|   Jones|    USA|   FL|
+---------+--------+-------+-----+

In [20]:
print(df.collect())

[Row(firstname='James', lastname='Smith', country='USA', state='CA'), Row(firstname='Michael', lastname='Rose', country='USA', state='NY'), Row(firstname='Robert', lastname='Williams', country='USA', state='CA'), Row(firstname='Maria', lastname='Jones', country='USA', state='FL')]

In [24]:
#to Collect  states 
states1=df.rdd.map(lambda x: x.state).collect()
print(states1)

['CA', 'NY', 'CA', 'FL']

In [25]:
states2=df.select(df.state).collect()
print(states2)

[Row(state='CA'), Row(state='NY'), Row(state='CA'), Row(state='FL')]

In [26]:
f_name=df.select(df.firstname).collect()
print(f_name)

[Row(firstname='James'), Row(firstname='Michael'), Row(firstname='Robert'), Row(firstname='Maria')]

In [27]:
F_name=df.rdd.map(lambda x: x.firstname).collect()
print(F_name)

['James', 'Michael', 'Robert', 'Maria']